<h1>Register</h1>
<form action="/register" method="POST">
    <label for="email">Email</label>
    <br>
    <input type="email" name="email" placeholder="Masukkan Email Anda">
    <br>
    <label for="password">Password</label>
    <br>
    <input type="password" name="password" placeholder="Masukkan Password Anda">
    <br>
    <button type="submit">Sign Up</button>
    <br>
</form>
